* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
}

h1 {
  color: #5c5959;
  position: relative;
  user-select: none;
  text-align: center;
  padding: 1.5rem 0.5rem 0.5rem;
  font: 4rem "Indie Flower", cursive;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 6px;
  }
}
